/* vars */
:root {
  --dark-menu: rgb(76, 75, 22);
  --light-menu: rgb(137, 129, 33);
  --background: rgb(230, 199, 103);
  --content: rgb(248, 122, 83);
}

/* Globals */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
  }
  
  /* link styling*/
  a {
    color: azure;
    text-decoration: none;
    font-weight: 800;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--light-menu); 
    color: white; 
  }
  
  /* Show the dropdown menu on hover */
  .dropdown-menu:hover .dropdown-content {display: block;}

  .menu-link:hover {background-color: var(--light-menu);}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-menu:hover .dropbtn{background-color: var(--light-menu);}
  .dropdown-menu:hover {background-color: var(--light-menu);}
  
  /* Dropdown Button */
  .dropbtn {
    background-color: var(--dark-menu);
    color: white;
    font-size: 18px;
    border: none;
    font-weight: 800;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: absolute;
    left: 0px;
    background-color: var(--dark-menu);
    min-width: 174px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 8px;
    font-size: 14px;
    justify-content: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: azure;
    padding: 6px 4px;
    text-decoration: none;
    display: block;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
  }
  
  .menu-container {
      display: flex;
      background-color: var(--dark-menu);
    }
  
  .menu-container > div {
    background-color: var(--dark-menu);
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    color: azure;
    max-width: 20%;
    min-width: 40px;
  }
  
  .content-container {
    display: flex;
    background-color: var(--background);
    overflow: hidden; /*hack for rounded corners*/
  }
  
  #content {
    display: flex;
    flex-direction: column;
    background-color: var(--content);
    width: 90vw; /*90% of the viewport width*/
    margin: 5% 5%;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    
  }
  
  footer {
    display: flex;
    background-color: var(--background);
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .top-content {
    display: flex;
    flex-direction: row;
  }
  
  .ingredients {
    display: flex;
    flex-direction: column;
  }
  
  .ingr-container {
    width: 35vw;
    padding-right: 5vw;
    height: 80%;
  }
  
  .img-container {
    max-width: 35vw;
  }
  
  .img-container img {
    border-radius: 15px;
  }
  
  
  
  