* {
    background-color: #434141;
    color: rgb(277, 277, 277);
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    text-shadow: 2px 2px 1px black;
    margin-left: 10px;
}

.category {
    color: rgb(124, 124, 124);
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}

footer {
    margin-top: 80px;
}

ul {
    margin-left: 15px;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.olaf {
    margin-top: 20px;
    margin-left: 50px;
    width: 300px;
    box-shadow: 2px 2px 2px black;
}